.containerListaPet {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    width: 64%;
    border-radius: 10px;
    box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.petsCadastrados {
    width: 100%;
}

.tabelaPets {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0.1rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.tabelaPets tr:nth-child(even) {
    background-color: #cccccc;
}

.tabelaPets tr:hover {
    background-color: #bbbbbb;
}

.tabelaPets th {
    text-align: left;
    border: 2px solid black;
    background-color: #E0C524;
    font-size: 1.2rem;
}

.tabelaPets td {
    border: 2px solid black;
    font-size: 1.1rem;
}

.botaExcluirPet {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #2513EB;
    text-decoration: underline;
    z-index: 1;
    transition: all 0.2s;
}

.botaExcluirPet:hover {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #1a117c;
    text-decoration: underline;
    z-index: 1;
    transition: all 0.2s;
}

.botaVoltarListagemPet {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #2513EB;
    text-decoration: underline;
    z-index: 1;
    transition: all 0.2s;
    width: 7%;
}

.botaVoltarListagemPet:hover {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #1a117c;
    text-decoration: underline;
    z-index: 1;
    transition: all 0.2s;
    width: 7%;
}

.procurarCliente {
    display: flex;
    width: 40%;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 2%;
}

.seletorClienteListaPet {
    font-size: 1.1rem;
    width: 50%;
    background: transparent;
    border-width: 2px;
    border-color: #453E96;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.inputProcurarCliente:focus {
    outline: none;
}

.botaoProcurarCliente {
    background-color: #E0C524;
    color: #000000;
    padding: 0.2rem 1.2rem;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.botaoProcurarCliente:hover {
    background-color: #F2E746;
    color: #000000;
    padding: 0.2rem 1.2rem;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}